#Python 101
## #4 Bluces `for`

Los bucles for, también conocidos como bucles de conteo, permiten repetir un bloque de código hasta que se cumpla un cierto número de repeticiones. 

Los pasos que se ejecutan son los siguientes:
1. Inicializamos un índice `i` en algún número dado, por ejemplo cero o uno.
2. Verificamos si se ha cumplido el número mínimo de pasos. Si ese es el caso, damos por terminada la repetición.
3. En otro caso, ejecutamos el código del bloque, incrementamos el índice y regresamos al paso 2. 

En muchos lenguajes de programación, esto se escribiría de la siguiente forma:


```
for (int i=0; i<=cota; i=i+1){
  ...
}
```
que en Python es equivalente al sugiente código
```
i = 0
while i<=cota:
  ...
  i = i+1
```

In [29]:
"""
Ejemplo. Imprimir los números del 0 al 10
"""
i = 0
while i<=10:
  print(i)
  i = i+1

0
1
2
3
4
5
6
7
8
9
10

Una manera más general de escribir un ciclo `for` es crear un *iterable* y ejecutar el bloque de código para cada elemento generado por este iterable. 

  [Un iterador es un objeto que contiene un número contable de valores.
  Un iterador es un objeto sobre el que se puede iterar, lo que significa que puede atravesar todos los valores.](https://https://www.w3schools.com/python/python_iterators.asp)




Este es el enfoque que adoptaremos en el curso.

In [30]:
"""
Ejemplo. Imprimir los elementos de una lista.

Crear una lista en Python es sencillo: Ponemos toda clase de objetos entre 
corchete `[]`, separados por una coma.
"""
mi_lista = ["Hola", "Mundo!", 1234, 3.14159, True, False]

for elemento in mi_lista: 
  print(elemento)

Hola
Mundo!
1234
3.14159
True
False

**Observa que la línea `for...in...:` termina con dos puntos `:` y que inmediatamente después, comenzamos con una identación.**

Todo los bloque que esten indentados después del `for...` se repetirán. Cuando omitamos la identación, el ciclo se terminará.

En común que necesitemos correr un ciclo `for` sobre una lista de índices.

In [31]:
"""
Ejemplo. Imprimir los números del 1 al 5
"""
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

Cuando tenemos unos pocos índices, es fácil crear la lista manualmente, ¿pero que hay si necesitaramos una lista de cientos o miles de índices? En Python, podemos usar el *iterable* `range`, que nos sirve para generar una lista. 

`range(n,m)` generará una lista de números enteros entre (e incluidos) `n` y `m-1`. *Observa que `range(n,m)` no es en sí misma una lista*

In [32]:
"""
Imprimir los índices del  1 al 9
"""

for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [33]:
"""
Imprimir los índices del  1 al 9
"""

algunos_indices = range(1,10) # recueda que la lista llega a 10-1=9
print(algunos_indices) #no se imprime lista alguna
#utilizamos la función list() para convertir el iterable en una lista
print(list(algunos_indices))

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

Ahora bien, en el ciclo `for`, podemos usar iterables en lugar de listas.

In [34]:
"""
Ejemplo. Imprimir los números del 1 al 5
"""
mis_indices = range(1,6) #este iterable genera la lista de enteros [1,2,3,4,5]

for i in mis_indices: #para cada índice i en nuestra lista...
  print(i) #...imprime i

1
2
3
4
5

In [35]:
"""
Imprimir del 0 al 7
"""
for i in range(8):
  print(i)

0
1
2
3
4
5
6
7

**Recuerda que una línea identada esta subordinada a la que tiene menor identación.**

In [36]:
"""
Ejemplo. Dos líneas identadas
"""
for i in range(5): #range(n) es equivalente a range(0,n)
  print("Imprimimos la línea con identación")
  print("Imprimimos otra línea con identación")

Imprimimos la línea con identación
Imprimimos otra línea con identación
Imprimimos la línea con identación
Imprimimos otra línea con identación
Imprimimos la línea con identación
Imprimimos otra línea con identación
Imprimimos la línea con identación
Imprimimos otra línea con identación
Imprimimos la línea con identación
Imprimimos otra línea con identación

In [37]:
"""
Ahora, omitimos la identación en la segunda
"""
for i in range(3): 
  print("Imprimimos la línea con identación")
#la siguiente línea no está identada
print("Imprimimos otra línea sin identación")

Imprimimos la línea con identación
Imprimimos la línea con identación
Imprimimos la línea con identación
Imprimimos otra línea sin identación

Cuando usamos la función `range`, los incrementos no necesariamente tienen que ser de uno en uno, incluso pueden ser negativos.

In [38]:
"""
Ejemplo. Imprimir los número impares desde 1 hasta 9
"""
for impar in range(1,10,2):
  print(impar)

1
3
5
7
9

In [39]:
"""
Ejemplo. Imprimir los número pares desde 0 hasta 10
"""
for par in range(0,11,2):
  print(par)

0
2
4
6
8
10

In [40]:
"""
Imprimir la cuenta regresiva `5,4,3,2,1`

Observa que así como en los conteos hacia adeltante, tenemos que sumar uno más 
al número final, en los conteos hacia atras debemos restarlo.
"""
for t in range(5,0,-1):
  print(t)

5
4
3
2
1

In [0]:
for i in range(5,0,1):
  print(i)

### Acceso a elementos por índices 

Es posible acceder a los elementos de una lista a traves de índices, con el siguiente formato 

`mi_lista[índice]`

*Observación: En Python, empezamos a contar desde cero.*

In [42]:
"""
Ejemplo. Acceder a los elmentos de una lista con índices
"""

mi_lista = ["Ana", "Beto", "Carlos", "Daniel"]
print(mi_lista[0])
print(mi_lista[1])
print(mi_lista[2])
print(mi_lista[3])

Ana
Beto
Carlos
Daniel

In [43]:
"""
Por supuesto, podemos realizar la tarea con un ciclo for
"""
### Calculamos primero la longitud de la lista con la función `len`
num_elementos = len(mi_lista)
print(num_elementos)
print("---")
for indice in range(num_elementos):
  print(indice, mi_lista[indice])

4
---
0 Ana
1 Beto
2 Carlos
3 Daniel

In [44]:
"""
Mejor aún, podemos correr sobre un iterable que "pegue"
los índices con sus respectivos elementos
"""
for indice, elemento in enumerate(mi_lista):
  print(indice, elemento)

0 Ana
1 Beto
2 Carlos
3 Daniel

De hecho, si tenemos dos iterables que generen el mismo número de elementos, podemos crear un iterable que pegue los elementos generados por ambos.

In [45]:
"""
Imprimir el ID y el nombre de los elementos en nuestra lista
"""
IDS = [1324,132545,3214,1324]

for ID, nombre in zip(IDS, mi_lista):
  print(ID, nombre)

1324 Ana
132545 Beto
3214 Carlos
1324 Daniel

### Iteraciones sobre cadenas

En Python también podemos iterar sobre cadenas de caracteres, tal como lo hacemos con una lista:

In [46]:
"""
Ejemplo. Deletrear la palabra "Python"
"""
palabra = "python"
for letra in palabra:
  print(letra)

p
y
t
h
o
n

In [47]:
"""
Ejemplo. Definir una función `serpenteo` que, dada una palabra, cambie cada vocal
a mayúscula y cada consonante a minúscula.
"""

def serpenteo(palabra):
  nueva_palabra = ""
  for letra in palabra:
    letra = letra.lower()
    if letra in ["a", "e", "i", "o", "u"]:
      letra = letra.upper()
    nueva_palabra += letra
  return nueva_palabra

serpenteo("PYthoN")

'pythOn'

Es importante mencionar que, a diferencia de una lista, no podemos modificar los caracteres en una cadena dada.

In [48]:
"""
Ejemplo. Modificar un elemento en una lista
"""
una_lista = ["p","y","t","h","o","n"]
una_lista[0] = una_lista[0].upper()
print(una_lista)

['P', 'y', 't', 'h', 'o', 'n']

In [49]:
"""
Esto no es posible con una cadena de caracteres
"""
una_cadena = "python"
try:
  una_cadena[0] = una_cadena[0].upper()
except:
  print("Lo dicho! No podemos modificar una cadena")

Lo dicho! No podemos modificar una cadena

### Operaciones iteradas

Quizá una de las mejores aplicaciones para ciclos for es poder realizar operaciones númericas repetitivas, de manera automática. Vamos a ilustrar este principio con algunos ejemplos.

In [50]:
"""
Encontrar la suma de los números enteros del 1 al 100
"""
suma = 0 #iniciamos nuestra suma en cero

for n in range(1,100+1): #iteramos el número n entre 1 y 100
  #el símbolo += significa agregar a...
  suma += n #sumamos el número n a nuestra suma

print(suma) #mostramos el resultado

5050

In [51]:
"""
Encontrar la suma de los primeros 10 número pares, comenzado de cero. Pero ahora
imprime las sumas parciales, es decir, la suma resultante en cada paso.
"""
suma = 0

for n in range(10):
  suma += 2*n
  print(suma)

0
2
6
12
20
30
42
56
72
90

In [52]:
"""
1. Definir una función que multiplique los primeros n números enteros positivos. 
Esta función recibe un nombre especial, n! o n factorial.
2. Imprime el resultado para los primero 10 números enteros positivos.
"""

def factorial(n):
  factorial = 1
  for i in range(1,n+1):
    factorial *= i
  return factorial

for n in range(1,10+1):
  print(factorial(n))

1
2
6
24
120
720
5040
40320
362880
3628800

Usando índices podemos acceder a dos listas de la misma longitud y realizar operaciones entrada por entrada. 

En le siguiente ejemplo, tenemos una lista de `precios` de  y otra lista de `unidades`. La misión es encontrar el total de la compra. El primer precio, corresponde al primer producto en las unidades y así sucesivamente.

In [53]:
"""
Encontrar el costo total de la compra
"""

precios = [9.90, 1.99, 2.54, 112.35]
unidades = [5,9,10,1]

assert len(precios)==len(unidades)

total = 0

for i in range(len(precios)):
  total += precios[i]*unidades[i]

print(total)

205.16

### Ciclos dobles
Vamos a ver una última aplicación de los ciclos `for`, que es recorrer dos listas, aplicando una operación sobre dos listas diferentes.

In [54]:
"""
Ejercicio. Imprime las tablas de multiplicar.
"""

for n in range(1,10):
  for m in range(1,10):
    print(n,"x",m,"=",n*m)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81